<!DOCTYPE html>
<html lang="en">

<head>
    <meta charSet="utf-8" />
    <meta httpEquiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#cccccc" />

    <title>Florius</title>
    <meta name="description" content="Joaquin Azcarate :: Personal Projects" />
    <meta name="keywords" content="florius, portfolio, whoami" />
    <meta name="author" content="Joaquin `Florius' Azcarate" />

    <meta itemProp="name" content="Florius" />
    <meta itemProp="description" content="Joaquin Azcarate :: Personal Projects" />
    <meta itemProp="image" content="https://florius.com.ar/summary.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@FloriusWasTaken" />
    <meta name="twitter:title" content="Florius" />
    <meta name="twitter:description" content="Joaquin Azcarate :: Personal Projects" />
    <meta name="twitter:creator" content="@FloriusWasTaken" />
    <meta name="twitter:image" content="https://florius.com.ar/summary.png" />
    <meta name="twitter:image:alt" content="Joaquin Azcarate :: Personal Projects" />

    <meta property="og:title" content="Florius" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://florius.com.ar/" />
    <meta property="og:image" content="https://florius.com.ar/summary.png" />
    <meta property="og:description" content="Joaquin Azcarate :: Personal Projects" />
    <meta property="og:site_name" content="Joaquin Azcarate :: Personal Projects" />

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Person",
            "name": "Joaquin Azcarate",
            "jobTitle": "Software Developer",
            "knowsLanguage": [
                {
                    "@type": "Language",
                    "name": "Spanish",
                    "alternateName": "es"
                },
                {
                    "@type": "Language",
                    "name": "English",
                    "alternateName": "en"
                }
            ]
        }
    </script>

    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>I'm <span class="highlight">Joaquin Azcarate</span></h1>
            <p class="subtitle">Software engineer.</p>

            <section id="connect">
                <ul>
                    {{range $Index, $Connection := .connections}}
                    <li>
                        <a href="{{.url}}" target="_blank" rel="noreferrer noopener" title="{{.name}}"
                            class="connection-link">
                            <span class="animated">
                                {{if .image}}
                                <img src="{{.image}}" alt="GitHub" class="social-icon">
                                {{else}}
                                {{.name}}
                                {{end}}
                            </span>
                        </a>
                    </li>
                    {{end}}
                </ul>
            </section>
        </header>

        <hr>
        <section id="videos">
            <h2>My videos</h2>
            <div class="cards-grid">
                {{range .videos.items}}
                <a href="http://www.youtube.com/watch?v={{.slug}}&list={{$.videos.playlist}}" target="_blank"
                    rel="noopener noreferrer" class="card video-card"
                    style="background-image: url(http://img.youtube.com/vi/{{.slug}}/hqdefault.jpg)" title="{{.name}}">
                </a>
                {{end}}
            </div>
        </section>

        <hr>
        <section id="deck">
            <h2>My projects</h2>
            <div class="cards-grid">
                {{range .projects}}
                <a href="#{{.name | projectID}}" class="card project-card">
                    <div class="project-name">{{.name}}</div>
                    <div class="tags">
                        {{range .tags}}
                        <span class="tag">{{.name}}</span>
                        {{end}}
                    </div>
                </a>
                {{end}}
            </div>
        </section>

        <hr>
        <section id="portfolio">
            <h2>Details</h2>
            <dl class="project-details">
                {{range .projects}}
                <dt id="{{.name | projectID}}">
                    {{.name}}
                    {{if or .url .source}}
                    <span class="links">
                        {{if .url}}
                        <a href="{{.url}}" target="_blank" rel="noreferrer noopener">Visit project</a>
                        {{end}}
                        {{if .source}}
                        <a href="{{.source}}" target="_blank" rel="noreferrer noopener">Source code</a>
                        {{end}}
                    </span>
                    {{end}}
                </dt>
                <dd>
                    {{if .description}}
                    <div class="description">{{.description | safeHTML}}</div>
                    {{end}}

                    {{if .challenges}}
                    <div class="challenges-section">
                        <h3>Challenges</h3>
                        <ul class="challenges">
                            {{range .challenges}}
                            <li>{{.}}</li>
                            {{end}}
                        </ul>
                    </div>
                    {{end}}

                    {{if .tags}}
                    <div class="technologies-section">
                        <h3>Technologies</h3>
                        <div class="technologies-list">
                            {{range .tags}}
                            <span class="technology-tag" title="{{or .definition .name}}">{{.name}}</span>
                            {{end}}
                        </div>
                    </div>
                    {{end}}
                </dd>
                {{end}}
            </dl>
        </section>

        <footer>
            <p>Built with ❤️</p>
        </footer>
    </div>
</body>

</html>